:root{
    --hero-color: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    --font-style: 'Basic';
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-family: var(--font-style);
}

.landing-page {
    width: 1440px;
    height: 4556px;
    border: 1px solid #000000;
}

/* navbar */
nav {
    display: flex;
    width: 1440px;
    height: 80px;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px #0000001A;
}
.logo {
    margin-left: 135px;
    user-select: none;
}
.logo-box {
    background-color: #020E35;
    width: 100px;
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-box img {
    margin-top: auto;
    width: 45px;
    height: 48px;
}
.logo-line {
    margin-top: auto;
    width: 100px;
    height: 6px;
    background: var(--hero-color);
}
.nav-list{
    margin-left: 435px;
    display: flex;
    align-items: center;
    gap: 50px;
    text-align: left;
}
.nav-list a{
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.8px;
}
.nav-btn button{
    margin-top: 20px;
    margin-right: 135px;
    width: 107px;
    height: 40px;
    color: #FFFFFF;
    font-size: 12px;
    background: var(--hero-color);
    font-weight: 400;
    line-height: 15px;
    cursor: pointer;
}

/* banner */
.banner {
    width: 1440px;
    display: flex;
    margin-top: 38px;
}
.banner-text{
    position: relative;
    margin-top: 134px;
    margin-left: 135px;
    margin-right: 34px;
    /* z-index: 15; */
}
.banner-text h1 {
    color: #020E35;
    width: 531px;
    height: 366px;
    font-size: 97px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
}
.banner-image {
    width: 740px;
    height: 566px;
}
.primary-btn {
    cursor: pointer;
    width: 140px;
    height: 40px;
    background: var(--hero-color);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
.banner-text button{
    position: absolute;
    top: 339px;
    z-index: -1;

}

/* about */
.about {
    margin-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
}
.about-shape {
    width: 276px;
    height: 276px;
    border-radius: 50%;
    background-color: #F0F3FA;
    position: absolute;
    margin-left: -141px;
}
.about-content {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0px;
}
.about-line {
    width: 100px;
    border: 2px solid #E73587;
}
.about p {
    color: #2B2B2B;
    margin-top: 25px;
    width: 823px;
    height: 75px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

/* service section  */
.services h1{
    color: #020E35;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    margin-top: 122px;
}
.service-card{
    margin-top: 50px;
    margin-left: 135px;
    display: flex;
    gap: 20px;
}
.card{
    text-align: center;
    width: 377px;
    height: 583px;
    border: #000 1px solid;
}