:root{
    --hero-color: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    --font-style: 'Basic';
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-family: var(--font-style);
}

.landing-page {
    width: 1440px;
    height: 4556px;
    border: 1px solid #000000;
}

/* navbar */
nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px #0000001A;
}
.logo {
    margin-left: 135px;
    user-select: none;
}
.logo-box {
    width: 100px;
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #020E35;
}
.logo-box img {
    margin-top: auto;
    width: 45px;
    height: 48px;
}
.logo-line {
    margin-top: auto;
    width: 100px;
    height: 6px;
    background: var(--hero-color);
}
.nav-list{
    margin-left: 435px;
    display: flex;
    gap: 50px;
    text-align: left;
    align-items: center;
}
.nav-list a{
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.8px;
}
.nav-btn button{
    margin-top: 20px;
    margin-right: 135px;
    width: 107px;
    height: 40px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.1px;
    cursor: pointer;
    background: var(--hero-color);
    color: #FFFFFF;
}

/* banner */
.banner {
    width: 1440px;
    display: flex;
    margin-top: 38px;
}
.banner-text{
    position: relative;
    margin-top: 134px;
    margin-left: 135px;
    margin-right: 34px;
    /* z-index: 15; */
}
.banner-text h1 {
    color: #020E35;
    width: 531px;
    height: 366px;
    font-size: 97px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
}
.banner-image {
    width: 740px;
    height: 566px;
}
.primary-btn {
    cursor: pointer;
    width: 140px;
    height: 40px;
    background: var(--hero-color);
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
}
.banner-text button{
    position: absolute;
    top: 339px;
    z-index: -1;
}

/* about */
.about {
    margin-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
}
.about-shape {
    width: 276px;
    height: 276px;
    border-radius: 50%;
    background-color: #F0F3FA;
    position: absolute;
    margin-left: -141px;
    background-color: #F0F3FA;
}
.about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h1 {
    font-size: 40px;
    font-weight: 400;
    /* line-height: 50px; */
    line-height: 50.33px;
    letter-spacing: 0px;
}
.line {
    width: 100px;
    border: 2px solid #E73587;
}
.about p {
    color: #2B2B2B;
    margin-top: 25px;
    width: 823px;
    height: 75px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

/* service section  */
.judul-service{
    display: flex;
    align-items: center;
    justify-content: center;
}
.services h1{
    color: #020E35;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    margin-top: 122px;
}
.service-card{
    margin-top: 50px;
    margin-left: 135px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.card{
    position: relative;
    text-align: center;
    width: 377px;
    height: 583px;
    z-index: 2;
}
.card h3{
    position: absolute;
    top: 306px;
    left: 20px;
    text-transform: capitalize;
    width: 337px;
    height: 25px;
    color: #2B2B2B;
    font-size: 20px;
    font-weight: 400;
}
.card p{
    position: absolute;
    top: 353px;
    left: 20px;
    align-items: center;
    width: 337px;
    height: 100px;
    margin-top: 22px;
    color: #2B2B2B;
    font-size: 20px;
    font-weight: 400;
}
.card button{
    position: absolute;
    top: 512px;
    left: 118px;
}
.card-app{
    background: #FDF8E3;
}
.card-app img{
    margin-top: 17px;
}
.card-webdev{
    background: #F0F3FA;
}
.card-webdev img, .card-uiux img{
    margin-top: 31px;
}
.card-uiux{
    background: #FEEFF0;
}
.arrow{
    background: var(--hero-color);
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #ffff;
    margin-left: 2px;
    z-index: 2;
}

/* section work */
.work{
    background: #020E35;
    margin-top: -290px;
    width: 1440px;
    height: 2392px
}
.work h1{
    padding-top: 391px;
    left: 641px;
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}