/* styles.css */

.image-with-caption {
    margin-right: 20px; 
    margin-left: 60px;
    display: flex;
    align-items: center; /* Mengatur posisi vertikal gambar dan keterangan */
}

.image-with-caption img {
    background-color: darkorange;
    width: 587px;
    height: 390px;
    max-width: 50%; /* Mengatur lebar maksimum gambar */
    /* Menghindari distorsi gambar */
    
    /* Memberi jarak antara gambar dan keterangan */
}

.caption {
    font-size: 16px;
    margin: 20px;
    margin-bottom: 17em;
    /* Anda dapat menambahkan properti CSS lainnya sesuai kebutuhan Anda */
}
